/********** categories Section *********/
    #categories .items{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 0 5rem;
    }

    #categories .m-heading {
        margin-bottom: 0rem;
    }

/********** history Section *********/
    #history {
        display: flex;
        flex-direction: column;
    }

    #history .history-content {
        padding: 2rem;
    }

/********** Contact Section *********/
    #contact {
        display: flex;
        flex-direction: column;
    }

    #contact .contact-content .map {
        flex: 1;
    }

    #contact {
        height: 140vh;
    }


   /********************************* ipad Section **********************/
   @media (min-width: 800px) {

    /* showcase */
    .btn {
        font-size: 1.2rem;
        margin-bottom: 5em;
    }

    .big-heading {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .show-description {
        font-size: 2rem;
        margin-bottom: 1.5em;
    }
    
    /* other section */
    #categories .items .item{
        display: flex;
        text-align: left;
        margin-bottom: 2rem;
    }

    #categories .items{
        margin: 0 10rem;
    }

    #categories .m-heading {
        margin-bottom: 2rem;
    }

    #categories .items .item i {
        margin-right: 1.7rem;
        align-self: center;
        margin-bottom: 0;
    }

    /* history */
    #history .history-img {
        background: url(../img/history-ipad.jpg) no-repeat center center/cover;
    }
    
    #history {
        display: flex;
        flex-direction: column;
    }
    
    #history .history-content {
        padding: 1rem 2rem;
        margin: 0 5rem;
    }
}

@media (min-width: 750px) {
    #showcase .showcase-content {
        padding-bottom: 20rem;
    }

     /* history */
     #history .history-img {
        background: url(../img/history-ipad.jpg) no-repeat center center/cover;
    }
        
    #history {
        display: flex;
        flex-direction: column;
    }
        
    #history .history-content {
        padding: 1rem 2rem;
        margin: 0 5rem;
    }
}