/********** categories Section *********/
#categories .items{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 5rem;
}

#categories .m-heading {
    margin-bottom: 0rem;
}

/********** history Section *********/
#history {
    display: flex;
    flex-direction: column;
}

/********** Contact Section *********/
#contact {
    display: flex;
    flex-direction: column;
}

#contact .contact-content .map {
    flex: 1;
}

#contact {
    height: 140vh;
}


/********** ipad pro Section *********/
@media (min-width: 800px) {
    #categories .items .item{
        display: flex;
        text-align: left;
        margin-bottom: 2rem;
    }

    #categories .items{
        margin: 0 10rem;
    }

    #categories .m-heading {
        margin-bottom: 2rem;
    }

    #categories .items .item i {
        margin-right: 1.7rem;
        align-self: center;
        margin-bottom: 0;
    }
}